<li>
  <div class="milestone-content">

    <% if milestone.publication_date.present? %>
      <span class="milestone-date">
        <strong>
          <%= t("budgets.investments.show.milestone_publication_date",
                publication_date: l(milestone.publication_date.to_date)) %>
        </strong>
      </span>
    <% end %>

    <%= image_tag(milestone.image_url(:large), { id: "image_#{milestone.id}", alt: milestone.image.title, class: "margin" }) if milestone.image.present? %>

    <% globalize(neutral_locale(locale)) do %>
      <p>
        <%= text_with_links milestone.description %>
      </p>
    <% end %>

    <% if milestone.documents.present? %>
      <div class="document-link text-center">
        <p>
          <span class="icon-document"></span>&nbsp;
          <strong><%= t("shared.documentation") %></strong>
        </p>
        <% milestone.documents.each do |document| %>
			<% 
			url_doc = document.attachment.url;
			if url_doc.start_with?(CUSTOM_CONTEXT_PARTICIPA)
				url_doc.sub!(CUSTOM_CONTEXT_PARTICIPA_PARTICIPA, CUSTOM_CONTEXT_PARTICIPA);
			else
				url_doc = CUSTOM_CONTEXT_PARTICIPA_NO_SLASH + url_doc;
			end
			%>
          <%= link_to document.title,
                  url_doc,
                  target: "_blank",
                  rel: "nofollow" %><br>
        <% end %>
      </div>
    <% end %>

  </div>
</li>
