<%= link_to t("admin.dashboard.index.back", org: setting['org_name']), root_path, class: "button float-right" %>

<h2 class="title inline-block"><%= t("admin.dashboard.index.title") %></h2>

<p><%= t("admin.dashboard.index.description", org: setting['org_name']) %></p>
