<div class="row">
	<div class="small-12 medium-9 column">					
		<%= link_to page_path("quees"), id: 'map', title: "Quees" do %>
		<p>Propuesta registrada. ¡Gracias por participar!</p>
		<%= image_tag("BANNERSINFECHA.png", alt: "Participa SC") %>
		<% end %>
	</div>
</div>