<ul class="related-content-list" id="related-content-list">
  <% @related_contents.compact.each do |related| %>
    <li id="related-content-<%= related.find_related_content(relationable).id %>">
      <% related_content = related.find_related_content(relationable) %>
      <% if current_user && related_content.author != current_user && !related_content.scored_by_user?(current_user)%>
        <span id="<%= dom_id(related.find_related_content(relationable)) %>" class="js-score-actions score-actions">
          <%= render 'relationable/score', related: related_content %>
        </span>
      <% end %>
      <span class="related-content-title"><%= t("related_content.content_title.#{related.model_name.singular}") %></span><br>
      <h3 class="inline-block">
        <%= link_to related.title, CUSTOM_CONTEXT_PARTICIPA_NO_SLASH + related.url %>
      </h3>
    </li>
  <% end %>
</ul>

<%= paginate @related_contents %>
