<% provide :title do %><%= t('budgets.index.title') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <%= image_tag "help/help_icon_budgets.png", alt: t("budgets.index.section_header.icon_alt"), class: "align-top" %>	 	  
      <h1 class="inline-block"><%= t("budgets.index.section_header.title") %></h1> 	  
      
	  <ul class="no-bullet inline-block float-right">    	  
      <li class="inline-block">
        <%= link_to "Qué es",
                                page_path("quees"),
                                title: "Qué es" %> |
      </li>
      <li class="inline-block">
        <%= link_to "Años anteriores",
                                page_path("presupuestos"),
                                title: "Años anteriores" %> |
      </li>
	  <li class="inline-block">
		<%= link_to "Ayuda sobre presupuestos participativos", root_path + 'assets/DIPTICOE.png', target: "_blank" %>
	  </li>
	</ul>
    </div>
  </div>
</div>

<div class="row">
	<div class="small-12 medium-3 column">
		<p class="lead"  align="center">
					<strong>FASES</strong>
		  </p>
		<%= image_tag("FASES1.png", alt: "Participa SC", class:"grow_lateral") %>
	</div>
	<div class="small-12 medium-6 column">
		<%= image_tag("MEJORA_TU_BARRIO.jpg", alt: "Participa SC") %>
		  <p class="lead"  align="center">
			<strong>¿NOS AYUDAS A MEJORAR TU ENTORNO?</strong>
		  </p>
		  <p  align="justify">Los presupuestos participativos generados por el <strong>Área de Participación Ciudadana</strong> ofrecen una herramienta democrática que permite a la ciudadanía proponer, consensuar y decidir sobre una parte del presupuesto público municipal. En esta edición se contará con un total de <strong>500.000 euros</strong> repartidos equitativamente entre los 5 distritos que conforman el municipio.<a href="https://www.santacruzdetenerife.es/participa/distritos_barrios" title="Distritos_barrios"> Aquí puede consultar el distrito al cual corresponde su barrio.</a></p>
		  	<p align="center"><a href="https://www.santacruzdetenerife.es/participa/Presup2018estadoproyectos" title="Estado actual de los proyectos"><strong> ESTADO ACTUAL DE LOS PROYECTOS (Informe seguimiento)(ACTUALIZADO)</strong></a></p>
		   	<p align="center"><a href="/participa/budgets/16/results" title="ACCESO A LOS RESULTADOS DE LA FASE DE VOTACIÓN"><strong> ACCESO A LOS RESULTADOS DE LA FASE DE VOTACIÓN</strong></a></p>
				    <div class="small-12 medium-6 large-4 small-centered">       
			  <a class="button expanded large" href="/participa/budgets/16">Participa</a>
			</div>
		<div class="row">
			<br>
		</div>	
		<div class="row">			
			<div class="small-12 medium-12 column">
				<p class="lead"  align="center"> 
					<strong>Mapa de propuestas</strong>
					<div id="map">
						<%= render_map(nil, "budgets", false, nil, @budgets_coordinates) %>
					</div>
				</p>
				<p class="lead"  align="center">
				<strong><i>“Relato Ciudad”</i></strong><br>
					<strong>Mapeo de los Presupuestos Participativos 2018</strong><br>
			<a _blank="" href="assets/pdfs/presupuestos_participativos/mapa_iniciativas_2018.pdf" target="=" title="mapa_iniciativas_2018.pdf (se abre en ventana nueva)"><font color="#000000"><i>Conjunto de propuestas presentadas por la ciudadanía en todo el Municipio</i></font></a>
				</p>
			</div>
		</div>
		<div class="row">
			<br>
		</div>
		<div class="row"		>
		<!--	<div class="small-4 medium-centered column">-->
			    <div class="small-12 medium-6 large-4 small-centered">  
				<p class="lead"  align="center"> 
					<strong>Agenda</strong>
				</p>
				<%= link_to page_path("agenda"), title: "Agenda" do %>
				<%= image_tag("LOGO.png", alt: "Agenda") %> 
				<% end %>
			</div>
		</div>
		<div class="row">
			<br>
		</div>
		<div class="row">
			<div class="small-12 medium-12 column">
				<p class="lead"  align="center"> 
					<strong>Noticias</strong>
				</p>
				<p align="justify"><a href="https://www.santacruzdetenerife.es/participa/Presup2018estadoproyectos" title="Estado actual de los proyectos"><strong>22/04/2019.- ESTADO ACTUAL DE LOS PROYECTOS (Informe seguimiento)</strong></a></p>
				<p align="justify"><a _blank="" href="assets/pdfs/presupuestos_participativos/20180717Sintesis_resultados_fase_votacion.pdf" target="=" title="20180717Sintesis_resultados_fase_votacion.pdf (se abre en ventana nueva)"><strong>17/07/2018.- SÍNTESIS DE LOS RESULTADOS DE LA FASE DE VOTACIÓN. (NUEVO)</strong></a></p>
				<p align="justify"><strong>18/06/2018.- PUBLICACIÓN DE LOS RESULTADOS DE LA FASE DE VOTACIÓN.</strong></p>
				<p align="justify"><strong>31/05/2018.- LA FASE DE VOTACIÓN ESTARÁ ABIERTA HASTA EL PRÓXIMO SÁBADO 2 JUNIO A LAS 23.59H.</strong></p>
				<p align="justify"><a _blank="" href="assets/pdfs/presupuestos_participativos/mapa_iniciativas_2018.pdf" target="=" title="mapa_iniciativas_2018.pdf (se abre en ventana nueva)"><font color="#000000"><strong>21/05/2018.- Conjunto de propuestas presentadas por la ciudadanía en todo el Municipio.</strong></font></a></p>
				
			</div>
		</div>
			<br>
	<div class="row">
		<div class="small-12 medium-12 column">
			<p class="lead"  align="center"> 
	<strong>Vídeos</strong>
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="small-12 medium-4 column margin-bottom">
		
			<div class="videowrapper">
				<iframe width="105%" height="105%" src="https://www.youtube.com/embed/QouWj8lT9jw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
				<p><strong>CÓMO REGISTRARSE</strong></p>
		</div>

		
		<div class="small-12 medium-4 column margin-bottom">

			<div class="videowrapper">
				<iframe width="105%" height="105%" src="https://www.youtube.com/embed/bQESzrSjomo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
						<p><strong>CÓMO PLANTEAR UNA PROPUESTA</strong></p>
		</div>
	
		<div class="small-12 medium-4 column margin-bottom">		
		
				<div class="videowrapper">
					<iframe width="105%" height="105%" src="https://www.youtube.com/embed/oG4v__DKVl8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
						<p><strong>RESUMEN ACTUACIONES PRESUPUESTO <br>PARTICIPATIVO 2017</strong></p>
		</div>
	</div>	

	</div>
	
	<div class="small-12 medium-3 column">	 
		<%= image_tag("PARTICIPA.png", alt: "Participa SC", class:"grow_lateral") %>	
	</div>	


</div>
	