<header>

  <div class="top-links">
    <div class="row">
      <%= render "shared/locale_switcher" %>
      <div class="hide-for-small-only">
        <%= render "shared/top_links" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="title-bar" data-responsive-toggle="responsive_menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive_menu"></button>
      <div class="title-bar-title"><%= t("application.menu")%></div>
    </div>

    <div class="top-bar">
      <ul class="menu show-for-small-only">
        <li class="menu-text">
          <%= link_to root_path, accesskey: "0" do %>
            <%= image_tag(image_path_for("logo_header.png"),
                          class: "float-left",
                          size: "48x48",
                          alt: t("layouts.header.logo")) %>
            <%= setting["org_name"] %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="top-bar" id="responsive_menu">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
            <%= link_to root_path, class: "hide-for-small-only", accesskey: "0" do %>
              <%= image_tag(image_path_for("logo_header.png"),
                            class: "hide-for-small-only float-left",
                            size: "80x80",
                            alt: t("layouts.header.logo")) %>
              <%= setting["org_name"] %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <%= render "shared/admin_login_items" %>
          <%= render "layouts/notification_item" %>
          <%= render "devise/menu/login_items" %>
        </ul>
      </div>

      <div class="show-for-small-only">
        <div class="subnavigation row">
          <%= render "shared/subnavigation" %>
          <div class="small-12 column">
            <%= render "shared/top_links" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

</header>