<% provide :title do %><%= t('budgets.index.title') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <%= image_tag "help/help_icon_budgets.png", alt: t("budgets.index.section_header.icon_alt"), class: "align-top" %>	 	  
      <h1 class="inline-block"><%= t("budgets.index.section_header.title") %></h1> 	  
      
	  <ul class="no-bullet inline-block float-right">    	  
      <li class="inline-block">
        <%= link_to "Qué es",
                                page_path("quees"),
                                title: "Qué es" %> |
      </li>
      <li class="inline-block">
        <%= link_to "Años anteriores",
                                page_path("presupuestos"),
                                title: "Años anteriores" %> |
      </li>
	  <li class="inline-block">
		<%= link_to t("budgets.index.section_header.help"), root_path + 'assets/DIPTICOE.png') %>
	  </li>
	</ul>
    </div>
  </div>
</div>

<div class="row jumbo">
	<div class="small-12 medium-3 column">
		<p class="lead"  align="justify">
					<strong>FASES</strong>
		  </p>
		<%= image_tag("FASES1.png", alt: "Participa SC") %>
	</div>
	<div class="small-12 medium-6 column">
		<%= image_tag("BANNERSINFECHA.png", alt: "Participa SC") %>
		  <p class="lead"  align="justify">
			<strong>¿NOS AYUDAS A MEJORAR TU ENTORNO?</strong>
		  </p>
		  <p  align="justify">El Ayuntamiento de Santa Cruz de Tenerife ha reservado 500.000 euros para los presupuestos participativos en 2018, destinados a inversiones en los cinco distritos. Un proyecto pionero que comenzará por pequeñas obras y serán los vecinos y vecinas quienes decidirán por cúal empezar.</p>
			<p align="justify">Habiendo finalizado la fase de análisis del proceso participativo, los resultados de las actuaciones más votadas se harán visibles.</p>
		    <div class="small-12 medium-6 large-4 small-centered">       
			  <a class="button expanded large" href="budgets/16">Participa</a>
			</div>
		<div class="row">
			<br>
		</div>			
		<div class="row">
			<div class="small-12 medium-3 column">
				<p class="lead"  align="justify"> 
					<strong>Agenda</strong>
				</p>
				<%= link_to page_path("agenda"), title: "Agenda" do %>
					<%= image_tag("LOGO.png", alt: "Agenda") %> 
				<% end %>
			</div>
			<div class="small-12 medium-9 column">
				<p class="lead"  align="justify"> 
					<strong>Mapa de propuestas</strong>
					<div id="map">
						<%= render_map(nil, "budgets", false, nil, @budgets_coordinates) %>
					</div>
				</p>
			</div>
		</div>
		<div class="row">
			<br>
		</div>
		<div class="row">
			<div class="small-12 medium-12 column">
				<p class="lead"  align="justify"> 
					<strong>Noticias</strong>
				</p>
				<p>Actualmente no hay ninguna noticia</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 column">
				<p class="lead"  align="justify"> 
					<strong>Vídeos</strong>
				</p>
				<p>Actualmente no hay ningún vídeo</p>
			</div>
		</div>
	</div>
	<div class="small-12 medium-3 column">
		<%= image_tag("PARTICIPA.png", alt: "Participa SC") %>
	</div>
</div>
