<footer>
  <div class="row">
    <div class="small-12 large-4 column">
      <h1 class="logo">
        <%= link_to t("layouts.header.external_link_gobiernoabierto"), setting['external_link_gobiernoabierto_url'].presence || t("layouts.header.external_link_gobiernoabierto_url"), rel: "nofollow" %>
      </h1>

      <p class="info">
        <%= t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow")).html_safe
        %>
        </p>
    </div>

    <div class="footer-sections small-12 large-8 column">
      <div class="small-12 medium-4 column">
        <%= link_to t("layouts.footer.participation_title"), root_path, class: "title" %>
        <p><%= t("layouts.footer.participation_text") %></p>
      </div>

      <div class="small-12 medium-4 column">
        <%= link_to t("layouts.footer.transparency_title"), setting['transparency_url'].presence || t("layouts.footer.transparency_url"), class: "title", rel: "nofollow" %>
        <p><%= t("layouts.footer.transparency_text") %></p>
      </div>

      <div class="small-12 medium-4 column">
        <%= link_to t("layouts.footer.open_data_title"), setting['opendata_url'].presence || t("layouts.header.external_link_opendata_url"), class: "title", rel: "nofollow" %>
        <p><%= t("layouts.footer.open_data_text") %></p>
      </div>
    </div>
  </div>

  <div class="subfooter row">
    <div class="small-12 medium-8 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path('privacy') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to "Política de cookies", "https://www.santacruzdetenerife.es/web/index.php?id=cookies-web", rel: "nofollow" %>&nbsp;|</li>		
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path('conditions') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path('accessibility') %></li>
      </ul>
    </div>

    <div class="small-12 medium-4 column social">
      <div class="text-right">
        <ul>
          <% if setting['twitter_handle'] %>
            <li class="inline-block">
              <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "_blank",
                           title: t("shared.go_to_page") + t("social.twitter", org: setting['org_name']) + t('shared.target_blank_html') do %>
                              <span class="show-for-sr"><%= t("social.twitter", org: setting['org_name']) %></span>
                              <span class="icon-twitter" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting['facebook_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}/", target: "_blank",
                          title: t("shared.go_to_page") + t("social.facebook", org: setting['org_name']) + t('shared.target_blank_html') do %>
                          <span class="show-for-sr"><%= t("social.facebook", org: setting['org_name']) %></span>
                          <span class="icon-facebook" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
           <% if setting['youtube_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.youtube.com/#{setting['youtube_handle']}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.youtube", org: setting['org_name']) + t('shared.target_blank_html') do %>
                          <span class="show-for-sr"><%= t("social.youtube", org: setting['org_name']) %></span>
                          <span class="icon-youtube" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</footer>
