<header>

  <div class="top-links">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/top_links" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-bar">

      <%= link_to setting['org_name'], root_path, class: "logo show-for-small-only" %>

      <span data-responsive-toggle="responsive_menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu")%>
      </span>

      <div id="responsive_menu">
        <div class="top-bar-title">
          <%= link_to root_path, class: "hide-for-small-only", accesskey: "0" do %>
            <%= image_tag(image_path_for('logo_header.png'), class: 'hide-for-small-only float-left', size: '50x50', alt: t("layouts.header.logo")) %>
            <%= setting['org_name'] %>
          <% end %>
        </div>

        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <%= render "shared/admin_login_items" %>
            <%= render "layouts/notification_item" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <div class="show-for-small-only">
            <div class="subnavigation row">
              <%= render "shared/subnavigation" %>
              <div class="small-12 column">
                <%= render "shared/top_links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

</header>
