<td style="padding-bottom: 20px; padding-left: 10px;">

  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= t("mailers.comment.title") %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.comment.hi") %> <strong><%= @commentable.author.name %></strong>,
  </p>
<% 
	url = commentable_url(@commentable);
	url.sub!(CUSTOM_CONTEXT_PARTICIPA_PARTICIPA, CUSTOM_CONTEXT_PARTICIPA);
	account_url_r = account_url;
	account_url_r.sub!(CUSTOM_CONTEXT_PARTICIPA_PARTICIPA, CUSTOM_CONTEXT_PARTICIPA);
%>
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.comment.new_comment_by_html", commenter: @comment.author.name) %> <%= link_to @commentable.title, url, style: "color: #2895F1; text-decoration:none;" %>
  </p>

  <p style="border-left: 2px solid #DEE0E3;font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-style: italic;font-weight: normal;line-height: 24px;margin-left: 20px;padding: 10px;">
    <%= text_with_links @comment.body %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 12px;font-weight: normal;line-height: 20px;">
    <%= t("mailers.config.manage_email_subscriptions") %> <%= link_to t("account.show.title"), account_url_r, style: "color: #2895F1; text-decoration:none;" %>
  </p>
</td>
