<div class="dashboard">

<%= link_to t("admin.dashboard.index.back", org: setting['org_name']), root_path, class: "button float-right" %>

  <h2><%= t("management.dashboard.index.title") %></h2>

  <p><%= t("management.dashboard.index.info") %></p>

</div>
