<footer>
	<div class="row">
    <div class="small-12 large-4 column">
      <h1 class="logo">
        <%= link_to t("layouts.header.open_gov", open: "#{t('layouts.header.open')}").html_safe %>
      </h1>

      <p class="info">
        <%= t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank")).html_safe
        %>
        <%= t("layouts.footer.contact_us") %>
        <%= link_to t("layouts.footer.faq"), page_path('faq') %>
      </p>
    </div>

    <!--
    <div class="footer-sections small-12 large-8 column">
      <div class="small-12 medium-4 column">
        <h2>
          <%= link_to t("layouts.footer.participation_title"), root_path %>
        </h2>
        <p><%= t("layouts.footer.participation_text") %></p>
      </div>

      <div class="small-12 medium-4 column">
        <h2>
          <%= link_to t("layouts.footer.transparency_title"), t("layouts.footer.transparency_url") %>
        </h2>
        <p><%= t("layouts.footer.transparency_text") %></p>
      </div>

      <div class="small-12 medium-4 column">
        <h2>
          <%= link_to t("layouts.footer.open_data_title"), "/opendata" %>
        </h2>
        <p><%= t("layouts.footer.open_data_text") %></p>
      </div>
    </div>
    -->
  </div>

  <div class="subfooter row">
    <div class="small-12 medium-8 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.more_info"), page_path('more_information') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path('privacy') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path('conditions') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path('accessibility') %></li>
      </ul>
    </div>

    <div class="small-12 medium-4 column social">
      <div class="text-right">
        <ul>
          <% if setting['twitter_handle'] %>
            <li class="inline-block">
              <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "_blank", title: t("social.twitter") + t('shared.target_blank_html') do %>
                <span class="sr-only"><%= t("social.twitter") %></span>
                <span class="icon-twitter" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting['facebook_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}/", target: "_blank", title: t("social.facebook") + t('shared.target_blank_html') do %>
                <span class="sr-only"><%= t("social.facebook") %></span>
                <span class="icon-facebook" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <%  if setting['blog_url'] %>
            <li class="inline-block">
              <%= link_to setting['blog_url'], target: "_blank", title: t("social.blog") + t('shared.target_blank_html') do %>
                <span class="sr-only"><%= t("social.blog") %></span>
                <span class="icon-blog" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting['youtube_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.youtube.com/#{setting['youtube_handle']}", target: "_blank", title: t("social.youtube") + t('shared.target_blank_html') do %>
                <span class="sr-only"><%= t("social.youtube") %></span>
                <span class="icon-youtube" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
