<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO DEL PORTAL DE PARTICIPACIÓN CIUDADANA DEL AYUNTAMIENTO DE SANTA CRUZ DE TENERIFE</h2>
<h3>1. Ámbito de aplicación de las condiciones de uso</h3>
<p style="text-align: justify;">La participación en el Portal de Participación del Ayuntamiento de Santa Cruz de Tenerife se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
<p style="text-align: justify;">El Ayuntamiento de Santa Cruz de Tenerife se reserva la facultad de modificar las presentes condiciones de uso del Portal de Participación del Ayuntamiento de Santa Cruz de Tenerife cuya última versión se publicará en este sitio web. </p>
<h3>2. Objetivo de la iniciativa</h3>
<p style="text-align: justify;">A través del Portal de Participación, el Ayuntamiento de Santa Cruz de Tenerife quiere fomentar la participación de los ciudadanos en la gestión de la ciudad, implicándoles en la generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida por una gestión más cercana a los ciudadanos que permitirá oír sus preferencias y, además, crear canales directos de comunicación con el gobierno municipal, contribuyendo a tomar las decisiones más acertadas para el interés general. </p>
<h3>3. Cuestiones generales sobre la participación en el Portal de Participación del Ayuntamiento de Santa Cruz de Tenerife</h3>
<p style="text-align: justify;">Podrá participar cualquier persona física que se haya registrado previamente en el Portal de Participación, implicando este registro la aceptación de las presentes condiciones de uso. </p>
<h3>4. Obligaciones de las personas en el Portal de Participación</h3>
<p style="text-align: justify;">Al ser el Ayuntamiento de Santa Cruz de Tenerife un punto de encuentro cuyo objetivo es debatir, y compartir y valorar propuestas relacionadas con la mejora de la ciudad, las personas están obligadas a hacer un uso diligente y acorde a dicho objetivo. </p>
<p style="text-align: justify;">El Ayuntamiento de Santa Cruz de Tenerife no es responsable del uso incorrecto del Portal de Participación por las personas o de los contenidos localizados en el mismo, siendo cada persona responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido. En ningún caso las opiniones de particulares representarán en modo alguno la opinión de esta institución. </p>
<p style="text-align: justify;">El Ayuntamiento de Santa Cruz de Tenerife se reserva el derecho de revisión de los comentarios y mensajes publicados así como el derecho de ocultar aquéllos que tengan un lenguaje obsceno o de contenido sexual, amenacen o difamen a cualquier persona u organización, promuevan la actividad ilegal o promoción en servicios o productos comerciales o se considere spam. Todo ello se realizará únicamente con el fin de preservar el objetivo fundamental del Portal de Participación. </p>
<p style="text-align: justify;">Queda prohibida la utilización del Portal de Participación del Ayuntamiento de Santa Cruz de Tenerife con fines distintos a los de debatir, compartir y valorar propuestas, y específicamente: </p>
<ul><li>Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</li>
<li>Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</li>
<li>Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.</li>
<li>Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otras personas sin la autorización expresa de estos.</li>
<li>Su utilización con fines de publicidad.</li></ul>
<p style="text-align: justify;">La realización de cualquiera de los anteriores comportamientos permitirá al Ayuntamiento de Santa Cruz de Tenerife suspender temporalmente la actividad de la cuenta, inhabilitarla o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas. </p>
<p style="text-align: justify;">En caso de que el contenido introducido por las personas incorpore un enlace a otro sitio web, el Ayuntamiento de Santa Cruz de Tenerife no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos. </p>
<p style="text-align: justify;">En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, el Ayuntamiento de Santa Cruz de Tenerife quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio. </p>
<h3>5. Uso del Portal de Participación</h3>
<p style="text-align: justify;">Los participantes podrán acceder y navegar por el Portal de Participación libremente y de forma anónima. Sólo cuando quieran realizar alguna acción que implique el apoyo o comentario de una propuesta, se le solicitará que introduzca sus credenciales, para cuya obtención será necesario registrarse previamente. El registro que permitirá participar comentando en cualquiera de las secciones, apoyando propuestas, se realizará introduciendo los siguientes datos: </p>
<ul style="padding-left: 30px">
<li>Nombre de usuario</li>
<li>Correo electrónico</li>
<li>Aceptación de las condiciones de uso del Portal de Participación</li></ul>
<p style="text-align: justify;">El Portal de Participación también permite la identificación mediante el usuario de Facebook y Twitter. </p>
<p style="text-align: justify;">Para participar, a la persona se le requerirá que verifique su cuenta, para lo cual se le guiará a través de una serie de pasos donde se le solicitarán datos para confirmar su registro a través de una cuenta de correo electrónico. </p>
<p style="text-align: justify;">La persona podrá interactuar con la herramienta interviniendo, al menos, de la siguiente forma: </p>
<p style="text-align: justify; padding-left: 30px"><strong>5.1 PRESUPUESTOS PARTICIPATIVOS</strong></p>
<p style="text-align: justify; padding-left: 30px">En el apartado de presupuestos participativos la persona podrá participar: </p>
<ul style="padding-left: 40px">
	<li>Apoyando las propuestas creadas por el Ayuntamiento. Cada persona podrá exclusivamente apoyar una vez a una misma propuesta.</li>
<li>Comentando las propuestas. Cada propuesta podrá ser comentada, pudiendo argumentar las razones del apoyo o introducir mejoras a la misma.</li>
</ul>

<h3>6. Normativa aplicable</h3>
<p style="text-align: justify;">Las normas del ordenamiento jurídico español rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes. </p>
<h3>7. Revisión de las condiciones de uso</h3>
<p style="text-align: justify;">El Ayuntamiento de Santa Cruz de Tenerife se reserva el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, las personas registradas serán avisadas a través de este espacio en línea y, si continúan utilizando el Portal de Participación, se entenderán aceptadas las modificaciones introducidas. </p>
<h3>8. Cancelación o Baja del servicio</h3>
<p style="text-align: justify;">El ciudadano puede proceder a la baja de su perfil desde  la propia plataforma o bien, indicárnoslo a través  del formulario de contacto de <a href="https://www.santacruzdetenerife.es/directorio-telefonos/incidencias-portal-web/" target="blank">webmaster</a>, indicando baja de usuario de Plataforma Participa facilitándonos su correo electrónico, con el que se dio de alta, nombre y apellidos y DNI la persona que solicita la baja.</p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
