<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>
<br>
<p style="text-align: justify;">De conformidad con lo previsto en los artículos 13 y 14 del Reglamento (UE) 2016/679, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales, así como en el artículo 11 de la L.O. 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, le informamos:</p>
<ol style="padding-left: 30px">
<li style="text-align: justify;">La navegaci&oacute;n por la informaci&oacute;n disponible en el Portal de Participaci&oacute;n del Ayuntamiento de Santa Cruz de Tenerife (Santa Cruz Participa) es an&oacute;nima.</li>
<li style="text-align: justify;"><strong>C&oacute;mo se obtienen sus datos</strong>: Para utilizar los servicios contenidos en el Portal de Participación del Ayuntamiento de Santa Cruz de Tenerife el usuario deberá registrarse proporcionando previamente los datos de carácter personal según la información específica que consta en el formulario habilitado para ello en la propia plataforma. Cuando nos facilitas tus datos personales, garantizas que eres la persona habilitada para facilitar esta información y que la información es cierta, veraz, exacta y actualizada; que no es confidencial; que no viola ninguna restricción contractual o derechos de terceros y que te comprometes a no suplantar a otras personas usuarias utilizando sus datos de registro a los distintos servicios y/o contenidos del sitio web.</li>
<li style="text-align: justify;">Los datos aportados serán incorporados y tratados por el Ayuntamiento de Santa Cruz de Tenerife de acuerdo con la descripción del fichero siguiente:</li>
<ul style="padding-left: 40px">
<li style="text-align: justify;"><strong>Finalidad del tratamiento:</strong> Los datos que se obtienen se destinan a gestionar los procesos participativos para el control de la habilitación de las personas que participan en los mismos y recuento meramente numérico y estadístico de los resultados derivados de los procesos de participación ciudadana. Además, los datos se emplearán para proceder a informar y cursar invitaciones para participar en nuevos procesos participativos que pudieren ser convocados por el Ayuntamiento de Santa Cruz de Tenerife.</li>
<li style="text-align: justify;"><strong>Legitimidad para el tratamiento:</strong> La legitimación del tratamiento de los datos es de carácter legal, siendo la misma el artículo 9.2 de la Constitución Española, el artículo 69 de la Ley de Bases de Régimen Local y en el Reglamento Orgánico de Participación Ciudadana del Ayuntamiento de Santa Cruz de Tenerife, así como el cumplimiento de una misión realizada en interés público.</li>
<li style="text-align: justify;"><strong>Responsable del Tratamiento</strong>: DIRECCIÓN GENERAL DE ORGANIZACION Y REGIMEN INTERNO (C/ Afilarmónica Nifú-Nifa, 32 1ª 38003 Santa Cruz de Tenerife Tfno. 922 60 66 20). Las funciones propias del Delegado de Protección de Datos serán ejercidas por el Servicio Administrativo de Tecnología y Protección de datos. (Calle Elías Bacallado, s/n, Ofra, Santa Cruz de Tenerife).</li>
</ul>
<li style="text-align: justify;">Como principio general, este sitio web no comparte ni revela información obtenida, excepto cuando haya sido autorizada por el usuario, o la información sea requerida por la autoridad judicial, ministerio fiscal o la policía judicial, o la misma venga prevista en la Ley.</li>
<li style="text-align: justify;"><strong>Conservaci&oacute;n de los datos</strong>: Los datos se conservarán con la finalidad descrita mientras no se oponga a ello o se solicite la supresión como usuario del portal de Participación. Incluso una vez solicitada la supresión de sus datos, estos serán bloqueados durante el plazo de 5 años, a disposición únicamente de Juzgados y Tribunales, el Ministerio Fiscal o las Administraciones Públicas competentes para atender posibles reclamaciones, tras los cuales, dichos datos serán destruidos.</li>
<li style="text-align: justify;"><strong>Derechos del interesado</strong>: El interesado podr&aacute; ejercer de conformidad con la legislación vigente <a href="https://sede.santacruzdetenerife.es/sede/index.php?id=tramite&tx_multidocumentoavantic_tramitelist%5Btramite%5D=202&tx_multidocumentoavantic_tramitelist%5Baction%5D=show&tx_multidocumentoavantic_tramitelist%5Bcontroller%5D=Tramite&cHash=059729d9d1be64623faa09144b220ba9" title="Sede electrónico Ayto">los derechos de acceso, rectificaci&oacute;n, supresi&oacute;n, limitaci&oacute;n del tratamiento, portabilidad de los datos y oposici&oacute;n, ante el &oacute;rgano responsable indicado.</a></li>
<li style="text-align: justify;"><strong>Autoridad de control</strong>: <a href="https://www.aepd.es/" title="Agencia Española de Protección de Datos">La Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos</a> es la autoridad de control ante la que se pueden presentar las reclamaciones sobre el tratamiento de datos personales.</li>
</ol>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

