// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

$budget:            #3f8fcf;
$body-font-family: 'Arial', 'Helvetica', sans-serif !important;
$font-family-monospace: 'Arial', 'Helvetica', sans-serif;
@media only screen and (min-width: 960px) {
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(4); }
}

@media only screen and (min-width: 960px) {
.grow_lateral { transition: all .2s ease-in-out; }
.grow_lateral:hover { transform: scale(2); }
}
