// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

body {
  padding: 0;
  margin: 0;
  font-family:  "Arial", "Helvetica", "sans-serif" !important;
  font-weight: normal;
  line-height: 1.5;
  color: #222;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

thead,
tbody,
tfoot {
  border: none !important; 
  background-color: #fff;
}