// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

/*.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
.pagination .li{
	display:inline-block;
}
.expanded.budget .info {
	background:  #3f8fcf;
	border-top: 0.375rem solid #3f8fcf;
}

.top-bar .top-bar-title a img {
   height: 50px;
    margin-right: 0.75rem;
    margin-top: 20px;
    width: 50px;
    margin-left: 20px;
}


@media screen and (min-width: 40em) {
  .top-bar .top-bar-title a img {
	height: 50px;
    margin-right: 0.75rem;
    margin-top: 20px;
    width: 50px;
    margin-left: 20px;
  }
}

//.top-bar .top-bar-title a {
//	color:#004A83;
//}


.auth-image h1 img {
	 height: 50px;
    margin-right: 0.75rem;
    margin-top: 20px;
    width: 50px;
    margin-left: 20px;
}

//.auth-image h1 a{
//	color:#004A83;
//}


.highlight {
 background-color: white;
}

.auth-image {
	background: none;
	background-color: #004A83; 
	}


.circle {
	margin-top: 1rem; width: 190px; height: 190px; border-radius: 50%; font-size: 28px; color: #fff; line-height: 190px; text-align: center; background:  #3bd309;
}

.texto_circle {
	font-size: 28px; padding-top: 70px;
}

.texto_circle_2 {
	font-size: 28px;
}	

@media only screen and (max-width: 1200px) {
    .circle {
        width: 150px; height: 150px; line-height: 150px; font-size: 22px;
    }
	
	.texto_circle {
		font-size: 23px; padding-top: 50px;
	}

	.texto_circle_2 {
		font-size: 23px;
	}
}	

.grey-heading {
  background: #ffffff;
}


.banner-style-two
{
   background-color: #719bff;
}

$budget: #7e328a ;