<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
  <div class="row jumbo">
    <div class="small-12 medium-12 small-centered column text-center">
			<%= image_tag("banner_general.jpg", alt: "Participa SC") %>
			<div class="row">
    </div>
  </div>
    </div>
 
<div class="row jumbo">

<h3>Novedades</h3>
<div class="small-12 medium-12 column">

				<p>
				22/03/2019. Producción Normativa: Publicación <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/9/debate" title="Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife - FASE II"><strong>Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife - FASE II</strong></a><br>
				01/03/2019. <a href="https://www.urbanismosantacruz.es/es/participacion-ciudadana-nuevo-pgo" title="Talleres Informativos Nuevo PGO"><strong>Talleres Informativos Nuevo PGO</strong></a><br>
				28/02/2019. Producción Normativa: <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/1/draft_versions/1" title="Revisión del RMOPC (Fase: aportaciones al borrador)"><strong>Revisión del Reglamento Orgánico Municipal de Participación Ciudadana (Fase: aportaciones al borrador)</strong></a><br>
				13/02/2019. Presupuestos Participativos 2018: <a href="https://www.santacruzdetenerife.es/participa/Presup2018estadoproyectos" title="Estado actual de los proyectos"><strong>Actualización del Estado actual de los proyectos (Informe seguimiento)</strong></a><br>
				31/12/2018. Producción Normativa: Fase de debate cerrada sobre <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/8/debate" title="Borrador de la Ordenanza Reguladora de la publicidad exterior"><strong>Consulta Borrador de la Ordenanza Reguladora de la publicidad exterior</strong></a><br>
				21/12/2018. Votaciones: Terminada fase de votación <a href="https://www.santacruzdetenerife.es/participa/polls/2" title="Consulta ciudadana sobre el Gobierno Abierto en el Ayuntamiento de Santa Cruz de Tenerife"><strong>Consulta ciudadana sobre el Gobierno Abierto en el Ayuntamiento de Santa Cruz de Tenerife</strong></a></br>				
				20/12/2018. Producción Normativa: Fase de debate cerrada sobre <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/7/debate" title="Borrador de la Ordenanza Reguladora del Uso Urbanístico de las Viviendas Vacacionales"><strong>Borrador de la Ordenanza Reguladora del Uso Urbanístico de las Viviendas Vacacionales</strong></a></br>
				13/12/2018. Producción Normativa: Fase de debate cerrada sobre <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/6/debate" title="Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife"><strong>Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife</strong></a><br>
				10/12/2018. Presupuestos Participativos 2018: <a href="https://www.santacruzdetenerife.es/participa/Presup2018estadoproyectos" title="Estado actual de los proyectos"><strong>Estado actual de los proyectos (Informe seguimiento)</strong></a><br>
				30/11/2018. Producción Normativa: Publicación <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/8/debate" title="Borrador de la Ordenanza Reguladora de la publicidad exterior"><strong>Consulta Borrador de la Ordenanza Reguladora de la publicidad exterior</strong></a><br>
				20/11/2018. Votaciones: Publicación <a href="https://www.santacruzdetenerife.es/participa/polls/2" title="Consulta ciudadana sobre el Gobierno Abierto en el Ayuntamiento de Santa Cruz de Tenerife"><strong>Consulta ciudadana sobre el Gobierno Abierto en el Ayuntamiento de Santa Cruz de Tenerife</strong></a></br>
				19/11/2018. Producción Normativa: Publicación <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/7/debate" title="Borrador de la Ordenanza Reguladora del Uso Urbanístico de las Viviendas Vacacionales"><strong>Borrador de la Ordenanza Reguladora del Uso Urbanístico de las Viviendas Vacacionales</strong></a></br>
				15/11/2018. Votaciones: Terminada fase de votación <a href="https://www.santacruzdetenerife.es/participa/polls/1" title="Consulta ciudadana sobre actuación en el Castillo de San Andrés"><strong>Consulta ciudadana sobre actuación en el Castillo de San Andrés</strong></a></br>
				12/11/2018. Producción Normativa: Publicación <a href="https://www.santacruzdetenerife.es/participa/legislation/processes/6/debate" title="Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife"><strong>Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife</strong></a><br>
				
				<p>
				
</div>


</div>

<div class="row jumbo">
<h3>Procesos con fase de participación abierta</h3>


<div class="small-12 medium-4 column">
<a href="https://www.santacruzdetenerife.es/participa/legislation/processes/9/debate">
	<p><img alt="PGO_portada.jpg" src="/participa/assets/PGO_portada.jpg"></p>
<p>Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife - FASE II</p>   
</a>
</div>

<div class="small-12 medium-4 column">&nbsp;</div>

<div class="small-12 medium-4 column">&nbsp;</div>

</div>

<div class="row jumbo">

<h3>Otros procesos</h3>


<div class="small-12 medium-4 column">
<a href="https://www.santacruzdetenerife.es/participa/legislation/processes/1/draft_versions/1">
<p><img alt="banner_legislativo.png" src="/participa/assets/banner_legislativo.png"></p>
<p>Revisión del Reglamento Orgánico Municipal de Participación Ciudadana (Fase: aportaciones al borrador)</p>   
</a>
</div>


<div class="small-12 medium-4 column">
<a href="https://www.urbanismosantacruz.es/es/participacion-ciudadana-nuevo-pgo">
	<p><img alt="20190307Taller_informativo_Nuevo_PGO.png" src="/participa/assets/20190307Taller_informativo_Nuevo_PGO.png"></p>
<p>Talleres Informativos Nuevo PGO</p>   
</a>
</div>



<div class="small-12 medium-4 column">
<a href="https://www.santacruzdetenerife.es/participa/budgets">
<p><img alt="banner_presupuestos.png" src="/participa/assets/banner_presupuestos.png"></p>
<p>Presupuestos participativos 2018. ¿NOS AYUDAS A MEJORAR TU ENTORNO?</p>   
</a>

</div>



</div>

<div class="row jumbo">

<div class="small-12 medium-4 column">
<a href="https://www.santacruzdetenerife.es/participa/legislation/processes/8/debate">
<p><img alt="OPubExt.png" src="/participa/assets/OPubExt.png"></p>
<p>Borrador de la Ordenanza Reguladora de la publicidad exterior</p>   
</a>
</div>


<div class="small-12 medium-4 column">
	<a href="https://www.santacruzdetenerife.es/participa/legislation/processes/6/debate">
		<p><img alt="PGO" src="/participa/assets/PGO_portada.jpg"></p>
		<p>Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife</p>   
	</a>
</div>



<div class="small-12 medium-4 column">
<a href="https://www.santacruzdetenerife.es/participa/legislation/processes/7/debate">
<p><img alt="ORUUVV_01.jpg" src="/participa/assets/ORUUVV_01.jpg"></p>
<p>Borrador de la Ordenanza Reguladora del Uso Urbanístico de las Viviendas Vacacionales</p>   
</a>
</div>


</div>


  </main>
<% end %>
