<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
  <div class="row jumbo">
    <div class="small-12 medium-12 small-centered column text-center">
			<%= image_tag("banner_general.jpg", alt: "Participa SC") %>
  <div class="row">
	<br>
    <br>
  </div>
		  <h1><a href="https://192.168.68.7/participa/legislation/processes/5/debate" title="Consulta pública previa acerca de la necesidad de aprobar el nuevo reglamento municipal de mercados">Consulta pública previa acerca de la necesidad de aprobar el nuevo reglamento municipal de mercados</a></h1>
		  <p class="lead">
			<p align="justify">De conformidad con lo dispuesto en el artículo 133.1 de la Ley 39/2015, de 1 de octubre, de Procedimiento Administrativo común, con el objeto de recabar la opinión de los sujetos y de las organizaciones más representativas, potencialmente afectados en los supuestos de elaboración de un proyecto o anteproyecto de reglamento.</p>

		  <div class="small-12 medium-6 large-4 small-centered">       
			<a class="button expanded large" href="https://192.168.68.7/participa/legislation/processes/5/debate">Participa</a>
		  </div>      
    </div>
  </div>
  <div class="row">
	<br>
	</div>

	<div class="row">
		<div class="small-12 medium-12 small-centered column text-center">	

		
		  <h1><a href="https://192.168.68.7/participa/legislation/processes/1/debate" title="1ª fase de la revisión del Reglamento Municipal Orgánico de Participación Ciudadana">1ª fase de la revisión del Reglamento Municipal Orgánico de Participación Ciudadana</a></h1>
      <p class="lead">
        <p align="justify">El Ayuntamiento de Santa Cruz de Tenerife tiene entre sus objetivos velar por garantizar la integridad institucional, incentivar la participación de la ciudadanía en la gobernanza municipal, facilitar el acceso a la información pública y potenciar el rendimiento de cuentas a la ciudadanía. Para la consecución de estos objetivos se está trabajando en la elaboración de un proyecto de modificación del Reglamento Orgánico de Participación Ciudadana, con la voluntad de buscar un acuerdo amplio e incorporar las aportaciones y propuestas de los ciudadanos de Santa Cruz de Tenerife antes de aprobar el texto definitivo.</p>
      
      <div class="small-12 medium-6 large-4 small-centered">       
		<a class="button expanded large" href="https://192.168.68.7/participa/legislation/processes/1/debate">Participa</a>
      </div>

		</div>

	  </div>
 <div class="row">
	<br><br>
	</div>
	<div class="row">
		<div class="small-12 medium-12 small-centered column text-center">	

		
		  <h1><a href="https://192.168.68.7/participa/legislation/processes/3/debate" title="Iniciación del procedimiento para la elaboración de la Ordenanza de Circulación de Santa Cruz de Tenerife">Iniciación del procedimiento para la elaboración de la Ordenanza de Circulación de Santa Cruz de Tenerife</a></h1>
      <p class="lead">
        <p align="justify">El proceso de elaboración se realizará en dos fases. Una primera fase que consta de un proceso participativo de todos los ciudadanos afectados por el ámbito de aplicación de la ordenanza que quieran aportar su experiencia u opinión en los debates planteados. Una segunda fase, la manera clásica de todo proceso normativo, que el grupo técnico del Área responsable del Área de Seguridad, Movilidad y Accesibilidad de conformidad con las actuaciones preparatorias y aportaciones del proceso participativo realice el anteproyecto de la ordenanza, articulando el texto de forma clara y concisa.</p>
      </p>
      <div class="small-12 medium-6 large-4 small-centered">       
		<a class="button expanded large" href="https://192.168.68.7/participa/legislation/processes/3/debate">Participa</a>
      </div>
		</div>

	  </div>

	<div class="row">
	<br><br>
	</div>
	<div class="row">
		<div class="small-12 medium-12 small-centered column text-center">	

		
		  <h1><a href="https://192.168.68.7/participa/budgets" title="Presupuestos participativos 2018. ¿NOS AYUDAS A MEJORAR TU ENTORNO?">Presupuestos participativos 2018. ¿NOS AYUDAS A MEJORAR TU ENTORNO?</a></h1>
      <p class="lead">
        <p align="justify">El Ayuntamiento de Santa Cruz de Tenerife ha reservado 500.000 euros para los presupuestos participativos en 2018, destinados a inversiones en los cinco distritos. Un proyecto pionero que comenzará por pequeñas obras y serán los vecinos y vecinas quienes decidirán por cuál empezar.</p>
      </p>
      <div class="small-12 medium-6 large-4 small-centered">       
		<a class="button expanded large" href="https://192.168.68.7/participa/budgets">Participa</a>
      </div>
		</div>

	  </div>
  </main>
<% end %>
