<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
  <div class="row jumbo">
    <div class="small-12 medium-12 small-centered column text-center">
			<%= image_tag("banner_general.jpg", alt: "Participa SC") %>
  <div class="row">
	 </div></div></div>


<div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  
      <h2><a href="https://www.santacruzdetenerife.es/participa/legislation/processes/8/debate" title="Borrador de la Ordenanza Reguladora de la publicidad exterior">Borrador de la Ordenanza Reguladora de la publicidad exterior (Fase de debate abierta)</a></h2>
 <p align="justify">Este borrador de ordenanza es el resultado de un proceso de interlocución con los agentes sociales implicados en esta actividad, iniciando a partir de este momento una consulta pública, en la que se recabará la opinión de los sujetos y de las organizaciones más representativas potencialmente afectados por la futura norma.</p>
 

        <p><img alt="PGO" src="/participa/assets/OPubExt.png"></p>   
        <div class="small-12 medium-6 large-4 small-centered">    
     <a class="button expanded large" href="https://www.santacruzdetenerife.es/participa/legislation/processes/8/debate">Participa</a>
      </div>
 </div>
  </div>


  <div class="row">
 <br>
  </div>


<div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  
      <h2><a href="https://www.santacruzdetenerife.es/participa/polls/2" title="Consulta ciudadana sobre el Gobierno Abierto en el Ayuntamiento de Santa Cruz de Tenerife">Consulta ciudadana sobre el Gobierno Abierto en el Ayuntamiento (Fase de votaciones abierta)</a></h2>
       <p align="justify">El Gobierno Abierto tiene como principal objetivo la colaboración de la ciudadanía en la mejora de los servicios e infraestructuras públicas de la ciudad, y a su vez en el fomento de la transparencia y la rendición de cuentas de las Administraciones Públicas.</p>
  
        <p><img alt="Gobierno_Abierto" src="/participa/assets/portada_GorbiernoAbierto.png"></p>
        <div class="small-12 medium-6 large-4 small-centered">    
     <a class="button expanded large" href="https://www.santacruzdetenerife.es/participa/polls/2">Participa</a>
      </div>
 </div>
  </div>


  <div class="row">
 <br>
  </div>


    <div class="row">
          <div class="small-12 medium-12 small-centered column text-center">  
      <h2><a href="/participa/legislation/processes/7/debate" title="Borrador de la Ordenanza Reguladora del Uso Urbanístico de las Viviendas Vacacionales en Santa Cruz de Tenerife">Borrador de la Ordenanza Reguladora del Uso Urbanístico de las Viviendas Vacacionales en Santa Cruz de Tenerife (Fase de debate abierta)</a></h2>
      <p class="lead">

      <p align="justify">Este borrador de Ordenanza que se somete a consulta pública, tiene por objeto establecer las condiciones urbanísticas necesarias para el desarrollo de la actividad de viviendas vacacionales, en el municipio de Santa Cruz de Tenerife.</p>
 
        <p><img alt="PGO" src="/participa/assets/ORUUVV_01.jpg"></p>      
        <div class="small-12 medium-6 large-4 small-centered">    
     <a class="button expanded large" href="/participa/legislation/processes/7/debate">Participa</a>
      </div>
 </div>
  </div>
    <div class="row">
  <br>
  </div>



  <div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  
      <h2><a href="/participa/legislation/processes/6/debate" title="Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife">Consulta Pública del nuevo Plan General de Santa Cruz de Tenerife (Fase de debate abierta)</a></h2>
      <p class="lead">

      <p align="justify">Se trata de una consulta pública en la que se recaba la opinión de la ciudadanía acerca de los problemas que se pretenden solucionar, la necesidad y la oportunidad de la regulación, los objetivos que se persiguen y las posibles soluciones alternativas que se pretenden aportar dentro del marco de la tramitación del nuevo Plan General de Ordenación.</p>
 
        <p><img alt="PGO" src="/participa/assets/PGO_portada.jpg"></p>      
        <div class="small-12 medium-6 large-4 small-centered">    
     <a class="button expanded large" href="/participa/legislation/processes/6/debate">Participa</a>
      </div>
 </div>
  </div>
    <div class="row">
  <br>
  </div>
   <div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  
      <h2><a href="/participa/polls/1" title="CONSULTA CIUDADANA SOBRE ACTUACION EN EL CASTILLO DE SAN ANDRES">Consulta ciudadana sobre actuación en el Castillo de San Andrés (Fase de votación finalizada)</a></h2>
      <p class="lead">

      <p align="justify">La Rehabilitación del Castillo de San Andrés será una actuación cofinanciada por el Fondo de Desarrollo Regional en el Marco del Programa Operativo FEDER de Crecimiento Sostenible 2014-2020 y el Excmo. Ayuntamiento de Santa Cruz de Tenerife. <a href="https://www.santacruzdetenerife.es/dusi/" title="Estrategia de Desarrollo Urbano Sostenible e Integrado “Anaga en el Corazón”">Estrategia de Desarrollo Urbano Sostenible e Integrado “Anaga en el Corazón”</a></p>
 
        <p><img alt="Castillo_San_Andres" src="/participa/assets/Castillo_San_Andres.JPG"></p>      
        <div class="small-12 medium-6 large-4 small-centered">    
     <a class="button expanded large" href="/participa/polls/1">Participa</a>
      </div>
  </div>
</div>

  <div class="row">
 <br>
  </div>

  <div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  

    
      <h2><a href="https://www.santacruzdetenerife.es/participa/budgets" title="Presupuestos participativos 2018. ¿NOS AYUDAS A MEJORAR TU ENTORNO?">Presupuestos participativos 2018. ¿NOS AYUDAS A MEJORAR TU ENTORNO? (Periodo de obras en ejecución)</a></h2>
      <p class="lead">
        <p align="justify">El Ayuntamiento de Santa Cruz de Tenerife ha reservado 500.000 euros para los presupuestos participativos en 2018, destinados a inversiones en los cinco distritos. Un proyecto pionero que comenzará por pequeñas obras y serán los vecinos y vecinas quienes decidirán por cuál empezar.</p>
      </p>
        <p><img alt="banner_presupuestos.png" src="/participa/assets/banner_presupuestos.png"></p> 
      <div class="small-12 medium-6 large-4 small-centered">       
    <a class="button expanded large" href="https://www.santacruzdetenerife.es/participa/budgets">Participa</a>
      </div>
    </div>
    </div>


	<div class="row">
	<br>
	</div>

  <div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  
    
      <h2><a href="https://www.santacruzdetenerife.es/participa/legislation/processes/1/debate" title="1ª fase de la revisión del Reglamento Municipal Orgánico de Participación Ciudadana">1ª fase de la revisión del Reglamento Municipal Orgánico de Participación Ciudadana (Siguiente paso: Realización de aportaciones al primer Borrador)</a></h2>
      <p class="lead">
        <p align="justify">El Ayuntamiento de Santa Cruz de Tenerife tiene entre sus objetivos velar por garantizar la integridad institucional, incentivar la participación de la ciudadanía en la gobernanza municipal, facilitar el acceso a la información pública y potenciar el rendimiento de cuentas a la ciudadanía. Para la consecución de estos objetivos se está trabajando en la elaboración de un proyecto de modificación del Reglamento Orgánico de Participación Ciudadana, con la voluntad de buscar un acuerdo amplio e incorporar las aportaciones y propuestas de los ciudadanos de Santa Cruz de Tenerife antes de aprobar el texto definitivo.</p>
        <p><img alt="banner_legislativo.png" src="/participa/assets/banner_legislativo.png"></p> 
      <div class="small-12 medium-6 large-4 small-centered">       
    <a class="button expanded large" href="https://www.santacruzdetenerife.es/participa/legislation/processes/1/debate">Participa</a>
      </div></div> </div>   




  </main>
<% end %>
