<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
  <div class="row jumbo">
    <div class="small-12 medium-12 small-centered column text-center">
			<%= image_tag("banner_general.jpg", alt: "Participa SC") %>
  <div class="row">
	<br>
  </div>
</div></div>
   <div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  
      <h1><a href="/participa/polls/1" title="CONSULTA CIUDADANA SOBRE ACTUACION EN EL CASTILLO DE SAN ANDRES">Consulta ciudadana sobre actuación en el Castillo de San Andrés (Proceso abierto el 16/10/2018)</a></h1>
      <p class="lead">

      <p align="justify">La Rehabilitación del Castillo de San Andrés será una actuación cofinanciada por el Fondo de Desarrollo Regional en el Marco del Programa Operativo FEDER de Crecimiento Sostenible 2014-2020 y el Excmo. Ayuntamiento de Santa Cruz de Tenerife. <a href="https://www.santacruzdetenerife.es/dusi/" title="Estrategia de Desarrollo Urbano Sostenible e Integrado “Anaga en el Corazón”">Estrategia de Desarrollo Urbano Sostenible e Integrado “Anaga en el Corazón”</a></p>
 
        <p><img alt="Castillo_San_Andres" src="/participa/assets/Castillo_San_Andres.JPG"></p>      
        <div class="small-12 medium-6 large-4 small-centered">    
     <a class="button expanded large" href="/participa/polls/1">Participa</a>
      </div>
 </div>
  </div>

  <div class="row">
 <br>
  </div>
  <div class="row">
    <div class="small-12 medium-12 small-centered column text-center">  
		
		  <h1><a href="https://www.santacruzdetenerife.es/participa/legislation/processes/1/debate" title="1ª fase de la revisión del Reglamento Municipal Orgánico de Participación Ciudadana">1ª fase de la revisión del Reglamento Municipal Orgánico de Participación Ciudadana (Proceso abierto)</a></h1>
      <p class="lead">
        <p align="justify">El Ayuntamiento de Santa Cruz de Tenerife tiene entre sus objetivos velar por garantizar la integridad institucional, incentivar la participación de la ciudadanía en la gobernanza municipal, facilitar el acceso a la información pública y potenciar el rendimiento de cuentas a la ciudadanía. Para la consecución de estos objetivos se está trabajando en la elaboración de un proyecto de modificación del Reglamento Orgánico de Participación Ciudadana, con la voluntad de buscar un acuerdo amplio e incorporar las aportaciones y propuestas de los ciudadanos de Santa Cruz de Tenerife antes de aprobar el texto definitivo.</p>
      
      <div class="small-12 medium-6 large-4 small-centered">       
		<a class="button expanded large" href="https://www.santacruzdetenerife.es/participa/legislation/processes/1/debate">Participa</a>
      </div>

		</div>

	  </div>
 	
	<div class="row">
	<br>
	</div>
	<div class="row">
		<div class="small-12 medium-12 small-centered column text-center">	

		
		  <h1><a href="https://www.santacruzdetenerife.es/participa/budgets" title="Presupuestos participativos 2018. ¿NOS AYUDAS A MEJORAR TU ENTORNO?">Presupuestos participativos 2018. ¿NOS AYUDAS A MEJORAR TU ENTORNO? (Periodo de obras en ejecución)</a></h1>
      <p class="lead">
        <p align="justify">El Ayuntamiento de Santa Cruz de Tenerife ha reservado 500.000 euros para los presupuestos participativos en 2018, destinados a inversiones en los cinco distritos. Un proyecto pionero que comenzará por pequeñas obras y serán los vecinos y vecinas quienes decidirán por cuál empezar.</p>
      </p>
      <div class="small-12 medium-6 large-4 small-centered">       
		<a class="button expanded large" href="https://www.santacruzdetenerife.es/participa/budgets">Participa</a>
      </div>
		</div>

	  </div>
  </main>
<% end %>
